---
import { aliases } from "../../data";
import SidebarLayout from "../../layouts/Sidebar.astro";
---

<SidebarLayout title="Revytter">
  <h1>Forfattere</h1>

  <table>
    <thead
      ><tr
        ><th>Navn</th><th>Forfatter</th><th>Roller</th><th>Instruktør</th>
      </tr>
    </thead>
    <tbody>
      {
        Object.keys(aliases)
          .filter((aliasId) => aliases[aliasId]!.authored.length > 0)
          .sort()
          .map((aliasId) => (
            <tr>
              <td>
                <a href={`/personer/${aliasId}`}>{aliasId}</a>
              </td>
              <td>{aliases[aliasId]!.authored.length}</td>
              <td>{aliases[aliasId]!.played.length}</td>
              <td>{aliases[aliasId]!.instructed.length}</td>
            </tr>
          ))
      }
    </tbody>
  </table>

  <style>
    thead {
      position: sticky;
      top: 0;
    }
  </style>
</SidebarLayout>
