---
// import Search from "../components/Search.svelte";
import FullPage from "../layouts/FullPage.astro";
---

<FullPage title="DIKUrevyen">
  <main>
    <img src="/images/logo.svg" alt="DIKUrevy" />

    <!-- <Search /> -->

    <nav>
      <ul>
        <li>
          <a href="/productions">Revyer</a>
        </li>
        <li>
          <a href="/personer">Personer</a>
        </li>
        <li><a href="/musik">Musik</a></li>
      </ul>
    </nav>
  </main>
</FullPage>

<style>
  main {
    max-width: 600px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
  }
  img {
    display: block;

    width: 80vw;
    max-width: 400px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 10px;
  }

  nav a {
    padding: 10px;
  }
</style>
