---
import ProductionLink from "../components/ProductionLink.astro";
import { productions as productionsMap } from "../data";
import SidebarLayout from "../layouts/Sidebar.astro";

const productions = Object.values(productionsMap);
---

<SidebarLayout title="DIKUrevy - Revyer">
  <h1>Revyer</h1>

  <ul>
    {
      productions.map((p) => (
        <li>
          <ProductionLink productionId={p.id} />
        </li>
      ))
    }
  </ul>
</SidebarLayout>
