---
import type { AliasId } from "../types/Alias";
import Icon from "./Icon.astro";

export interface Props {
  aliasId: AliasId;
}

const { aliasId } = Astro.props;
---

<a href={`/personer/${aliasId}`}><Icon type={"person"} /> {aliasId}</a>

<style>
  a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    transform: translateX(0);
    background: rgba(0, 0, 0, 0);
    transition: all 150ms;
  }

  a:hover {
    background: rgba(0, 0, 0, 0.05);
  }
</style>
