---
import { locale } from "../util/locale";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/"
        ><img
          src="/images/logo.svg"
          aria-label="Forside"
          width="189"
          height="200"
        />
      </a>

      <ul>
        <li>
          <a href="/productions">Revyer</a>
        </li>
        <li>
          <a href="/materialer">Materialer</a>
        </li>
        <li>
          <a href="/personer">Alle involverede</a>
          <ul>
            <li>
              <a href="/personer/forfattere">Forfattere</a>
            </li>
            <li>
              <a href="/personer/skuespillere">Skuespillere</a>
            </li>
            <li>
              <a href="/personer/instruktoerer">Instruktører</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <main>
      <slot />
    </main>
    <style>
      body {
        display: flex;
        gap: 40px;
      }

      nav {
        padding: 20px;
      }
    </style>

    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background-color: #eeeeee;
        color: #444;
      }
    </style>
  </body>
</html>
